<p id="notice"><%= notice %></p>

<p>
  <strong>Naziv:</strong>
  <%= @primary_assortment.name %>
</p>

<%= link_to 'Edit', edit_primary_assortment_path(@primary_assortment) %> |
<%= link_to 'Back', primary_assortments_path %>
