<div class="row">
	<div class="col-md-12 slick-maker-count">
		<% @assets.each do |asset| %>
		 <div class="product-holder" data-product-id="<%= asset.id %>" >
			<div class="slick-slide-count"> 
				<%= slick_slider_image(asset) %>
			</div>
		</div>
		
		<% end %>

	</div>
	<div class="row slider-controls">
	<div class="col-md-12 slider-width">
		<div class="col-md-2">
			
		</div>
		<div class="col-md-1 slick-custom-left-div">
			<a class="slick-custom-left" href="#"><%= image_tag('arrows-01.png') %></a>
		</div>
		<div class="col-md-5 "></div>
		<div class="col-md-1">
			<a class="slick-custom-right" href="#"><%= image_tag('arrows-02.png') %></a>
		</div>
	</div>
	</div>
	
	</div>
	
	